* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    background: blanchedalmond;
}

#container {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 4px;
}

header {
    background: black;
    padding: 5px;
    text-align: center;
    color: white;
}

main {
    height: 350px;
}

li {
    list-style: none;
}

footer {
    padding: 10px;
    background: navajowhite;
    border-top: 2px solid black;
    text-align: center;
}

input#name, input#shout {
    padding: 5px;
    height: 10px;
}

input#name {
    width: 150px;
    margin-right: 30px;
}

input#shout {
    width: 200px;
}

input#submit {
    width: 70px;
    padding: 1.5px;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bolder;
    color: blue;
    font-family: cursive;
    cursor: pointer;
}